html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    background: rgb(66, 86, 175);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    outline: none;
    border-radius: 10px;
    border: 0;
}

.container {
    width: 600px;
    padding: 10px;

    .fields {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .field {
        display: block;
        width: 50%;
        padding: 10px 20px;
        font-size: 2rem;

        &:first-child {
            margin-right: 10px;
        }
    }

    .actions {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    
    .btn {
        width: 25%;
        height: 40px;
        margin-right: 10px;
        font-size: 1rem;
        cursor: pointer;
        transition: opacity .2s ease;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            opacity: 0.5;
        }
        
    }

    .result-container {
        color: white;
        font-family: Arial;
        font-size: 3rem;
        background-color: rgba(rgb(24, 30, 83), 0.3);
        padding: 10px 30px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;

        #result-value {
            color: yellow;
        }
    }
}